<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forecast | By Ben</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- CUSTOM STYLE -->
	<link rel="stylesheet" href="assets/styles/main.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/weather-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/weather-icons-wind.css"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
</head>
<body ng-app="forecastApp" >
	<div ng-controller="HomeController">
		<!-- <div class="container" ng-class="getColor()"> -->
		<div class="container">
			<div class="header">
				<h1 class="text-center">Forecast</h1>
			</div>
			<!-- Buttons -->
			<div class="btn-group btn-group-justified menu" role="group">
				<a class="btn btn-default" role="button" ng-click="searchCity('Paris')">Paris</a>
				<a class="btn btn-default" role="button" ng-click="searchCity('New York')">New York</a>
				<a class="btn btn-default" role="button" ng-click="searchCity('Tokyo')">Tokyo</a>
			</div>
		<!-- CURRENT WEATHER -->	
			<div class="row">
				<div class="col-xs-12 content">
					<!-- GEO -->
					<div class="col-xs-6 col-sm-3 geo">
						<i class="fa fa-map-pin"></i>
						<div>
							<h2 ng-bind="cityName"></h2> <small ng-bind="country" class="label label-default"></small>
							<div>
								<button class="btn btn-success" ng-click="searchCity('{{cityName}}','{{country}}')" ng-model="fiveDays">5 days</button>
							</div>
						</div>
					</div>
					<!-- DATE -->
					<div class="col-xs-6 col-sm-3 date">
						<i class="fa fa-clock-o"></i>
						<small>Last update:</small>
						<h2 ng-bind="dt | date: 'mediumTime'"></h2>
						<p>{{ dt | date}}</p>
					</div>
					<!-- WEATHER -->
					<div class="col-xs-6 col-sm-3 weather">
						<div class="col-xs-12 col-sm-6 text-center">
							<img src="assets/img/icons/{{weatherIcon}}.png" class="img-responsive">
						</div>
						<div class="col-xs-12 col-sm-6 text-center">
							<div class="col-xs-6">
								<p ng-bind="weatherMain"></p>
							</div>
							<div class="col-xs-6">
								<h2><i class="wi wi-wind wi-wind towards-{{ windDeg | number:0 }}-deg"></i></h2>
								<span ng-bind="windSpeed"></span>
							</div>
						</div>
					</div>
					<!-- TEMPERATURE -->
					<div class="col-xs-6 col-sm-3 temp">
						<i class="wi wi-thermometer"></i>
						<h2>
							<span ng-bind="temp"></span><span> °C</span>						
						</h2>
						<!-- <small ng-bind="tempF | number:2"></small><small>°F</small> -->
					</div>
				</div>
			</div>
		<!-- FORECAST 5Days -->	
			<div class="row">

			</div>
			
		</div>
	</div>
	
	

	<!--  Angular JS-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<!-- CORE -->
	<script src="assets/scripts/core/app.js"></script>
	<!-- CUSTOM FILTER -->
	<script src="assets/scripts/core/filters/tempToCelsius.js"></script>
	<!-- CUSTOM SERVICE -->
	<script src="assets/scripts/core/services/request-api.js"></script>
	<!-- CUSTOM FACTORY -->
	<script src="assets/scripts/core/factories/city-temperature.js"></script>
	<script src="assets/scripts/core/factories/city-wind.js"></script>
	<!-- HOME CONTROLLER -->
	<script src="assets/scripts/controllers/home-controller.js"></script>
</body>
</html>