    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-beer-jar:before { content: "\f100"; }
.flaticon-bicycle:before { content: "\f101"; }
.flaticon-book:before { content: "\f102"; }
.flaticon-bottle:before { content: "\f103"; }
.flaticon-bottle-1:before { content: "\f104"; }
.flaticon-briefcase:before { content: "\f105"; }
.flaticon-brightness:before { content: "\f106"; }
.flaticon-building:before { content: "\f107"; }
.flaticon-bullhorn:before { content: "\f108"; }
.flaticon-calendar:before { content: "\f109"; }
.flaticon-cassette:before { content: "\f10a"; }
.flaticon-clip:before { content: "\f10b"; }
.flaticon-clock:before { content: "\f10c"; }
.flaticon-cloud:before { content: "\f10d"; }
.flaticon-cloud-and-rain:before { content: "\f10e"; }
.flaticon-cloud-and-sun:before { content: "\f10f"; }
.flaticon-cloud-and-thunder:before { content: "\f110"; }
.flaticon-cocktail:before { content: "\f111"; }
.flaticon-coffee-cup:before { content: "\f112"; }
.flaticon-coffin:before { content: "\f113"; }
.flaticon-compact-disc:before { content: "\f114"; }
.flaticon-computer:before { content: "\f115"; }
.flaticon-computer-mouse:before { content: "\f116"; }
.flaticon-conversation:before { content: "\f117"; }
.flaticon-credit-card:before { content: "\f118"; }
.flaticon-cross:before { content: "\f119"; }
.flaticon-cup:before { content: "\f11a"; }
.flaticon-cursor:before { content: "\f11b"; }
.flaticon-dollar-bill:before { content: "\f11c"; }
.flaticon-dollar-coin:before { content: "\f11d"; }
.flaticon-download:before { content: "\f11e"; }
.flaticon-earth-globe:before { content: "\f11f"; }
.flaticon-envelope:before { content: "\f120"; }
.flaticon-feeding-bottle:before { content: "\f121"; }
.flaticon-file:before { content: "\f122"; }
.flaticon-film-strip:before { content: "\f123"; }
.flaticon-flag:before { content: "\f124"; }
.flaticon-float:before { content: "\f125"; }
.flaticon-floppy-disk:before { content: "\f126"; }
.flaticon-focus:before { content: "\f127"; }
.flaticon-folder:before { content: "\f128"; }
.flaticon-ghost:before { content: "\f129"; }
.flaticon-gift:before { content: "\f12a"; }
.flaticon-headphones:before { content: "\f12b"; }
.flaticon-heart:before { content: "\f12c"; }
.flaticon-home:before { content: "\f12d"; }
.flaticon-hourglass:before { content: "\f12e"; }
.flaticon-ice-cream:before { content: "\f12f"; }
.flaticon-image:before { content: "\f130"; }
.flaticon-ink:before { content: "\f131"; }
.flaticon-jar:before { content: "\f132"; }
.flaticon-key:before { content: "\f133"; }
.flaticon-laptop:before { content: "\f134"; }
.flaticon-light-bulb:before { content: "\f135"; }
.flaticon-link:before { content: "\f136"; }
.flaticon-location:before { content: "\f137"; }
.flaticon-lock:before { content: "\f138"; }
.flaticon-mail:before { content: "\f139"; }
.flaticon-map:before { content: "\f13a"; }
.flaticon-microphone:before { content: "\f13b"; }
.flaticon-mobile-phone:before { content: "\f13c"; }
.flaticon-nib:before { content: "\f13d"; }
.flaticon-notebook:before { content: "\f13e"; }
.flaticon-open-book:before { content: "\f13f"; }
.flaticon-pacman:before { content: "\f140"; }
.flaticon-paint-roller:before { content: "\f141"; }
.flaticon-pencil:before { content: "\f142"; }
.flaticon-phone:before { content: "\f143"; }
.flaticon-photo-camera:before { content: "\f144"; }
.flaticon-portable-game-console:before { content: "\f145"; }
.flaticon-printer:before { content: "\f146"; }
.flaticon-profile:before { content: "\f147"; }
.flaticon-push-pin:before { content: "\f148"; }
.flaticon-quaver:before { content: "\f149"; }
.flaticon-reading-lamp:before { content: "\f14a"; }
.flaticon-ruler:before { content: "\f14b"; }
.flaticon-safari-logo:before { content: "\f14c"; }
.flaticon-scotter:before { content: "\f14d"; }
.flaticon-screen:before { content: "\f14e"; }
.flaticon-screwdriver:before { content: "\f14f"; }
.flaticon-search:before { content: "\f150"; }
.flaticon-settings:before { content: "\f151"; }
.flaticon-shopping-bag:before { content: "\f152"; }
.flaticon-snow-cloud:before { content: "\f153"; }
.flaticon-snowflake:before { content: "\f154"; }
.flaticon-speaker:before { content: "\f155"; }
.flaticon-star:before { content: "\f156"; }
.flaticon-sun:before { content: "\f157"; }
.flaticon-t-shirt:before { content: "\f158"; }
.flaticon-tablet:before { content: "\f159"; }
.flaticon-tag:before { content: "\f15a"; }
.flaticon-tornado:before { content: "\f15b"; }
.flaticon-trash:before { content: "\f15c"; }
.flaticon-truck:before { content: "\f15d"; }
.flaticon-umbrella:before { content: "\f15e"; }
.flaticon-upload:before { content: "\f15f"; }
.flaticon-vdeo-camera:before { content: "\f160"; }
.flaticon-wallet:before { content: "\f161"; }
.flaticon-wrench:before { content: "\f162"; }
.flaticon-wristwatch:before { content: "\f163"; }
    
    $font-Flaticon-beer-jar: "\f100";
    $font-Flaticon-bicycle: "\f101";
    $font-Flaticon-book: "\f102";
    $font-Flaticon-bottle: "\f103";
    $font-Flaticon-bottle-1: "\f104";
    $font-Flaticon-briefcase: "\f105";
    $font-Flaticon-brightness: "\f106";
    $font-Flaticon-building: "\f107";
    $font-Flaticon-bullhorn: "\f108";
    $font-Flaticon-calendar: "\f109";
    $font-Flaticon-cassette: "\f10a";
    $font-Flaticon-clip: "\f10b";
    $font-Flaticon-clock: "\f10c";
    $font-Flaticon-cloud: "\f10d";
    $font-Flaticon-cloud-and-rain: "\f10e";
    $font-Flaticon-cloud-and-sun: "\f10f";
    $font-Flaticon-cloud-and-thunder: "\f110";
    $font-Flaticon-cocktail: "\f111";
    $font-Flaticon-coffee-cup: "\f112";
    $font-Flaticon-coffin: "\f113";
    $font-Flaticon-compact-disc: "\f114";
    $font-Flaticon-computer: "\f115";
    $font-Flaticon-computer-mouse: "\f116";
    $font-Flaticon-conversation: "\f117";
    $font-Flaticon-credit-card: "\f118";
    $font-Flaticon-cross: "\f119";
    $font-Flaticon-cup: "\f11a";
    $font-Flaticon-cursor: "\f11b";
    $font-Flaticon-dollar-bill: "\f11c";
    $font-Flaticon-dollar-coin: "\f11d";
    $font-Flaticon-download: "\f11e";
    $font-Flaticon-earth-globe: "\f11f";
    $font-Flaticon-envelope: "\f120";
    $font-Flaticon-feeding-bottle: "\f121";
    $font-Flaticon-file: "\f122";
    $font-Flaticon-film-strip: "\f123";
    $font-Flaticon-flag: "\f124";
    $font-Flaticon-float: "\f125";
    $font-Flaticon-floppy-disk: "\f126";
    $font-Flaticon-focus: "\f127";
    $font-Flaticon-folder: "\f128";
    $font-Flaticon-ghost: "\f129";
    $font-Flaticon-gift: "\f12a";
    $font-Flaticon-headphones: "\f12b";
    $font-Flaticon-heart: "\f12c";
    $font-Flaticon-home: "\f12d";
    $font-Flaticon-hourglass: "\f12e";
    $font-Flaticon-ice-cream: "\f12f";
    $font-Flaticon-image: "\f130";
    $font-Flaticon-ink: "\f131";
    $font-Flaticon-jar: "\f132";
    $font-Flaticon-key: "\f133";
    $font-Flaticon-laptop: "\f134";
    $font-Flaticon-light-bulb: "\f135";
    $font-Flaticon-link: "\f136";
    $font-Flaticon-location: "\f137";
    $font-Flaticon-lock: "\f138";
    $font-Flaticon-mail: "\f139";
    $font-Flaticon-map: "\f13a";
    $font-Flaticon-microphone: "\f13b";
    $font-Flaticon-mobile-phone: "\f13c";
    $font-Flaticon-nib: "\f13d";
    $font-Flaticon-notebook: "\f13e";
    $font-Flaticon-open-book: "\f13f";
    $font-Flaticon-pacman: "\f140";
    $font-Flaticon-paint-roller: "\f141";
    $font-Flaticon-pencil: "\f142";
    $font-Flaticon-phone: "\f143";
    $font-Flaticon-photo-camera: "\f144";
    $font-Flaticon-portable-game-console: "\f145";
    $font-Flaticon-printer: "\f146";
    $font-Flaticon-profile: "\f147";
    $font-Flaticon-push-pin: "\f148";
    $font-Flaticon-quaver: "\f149";
    $font-Flaticon-reading-lamp: "\f14a";
    $font-Flaticon-ruler: "\f14b";
    $font-Flaticon-safari-logo: "\f14c";
    $font-Flaticon-scotter: "\f14d";
    $font-Flaticon-screen: "\f14e";
    $font-Flaticon-screwdriver: "\f14f";
    $font-Flaticon-search: "\f150";
    $font-Flaticon-settings: "\f151";
    $font-Flaticon-shopping-bag: "\f152";
    $font-Flaticon-snow-cloud: "\f153";
    $font-Flaticon-snowflake: "\f154";
    $font-Flaticon-speaker: "\f155";
    $font-Flaticon-star: "\f156";
    $font-Flaticon-sun: "\f157";
    $font-Flaticon-t-shirt: "\f158";
    $font-Flaticon-tablet: "\f159";
    $font-Flaticon-tag: "\f15a";
    $font-Flaticon-tornado: "\f15b";
    $font-Flaticon-trash: "\f15c";
    $font-Flaticon-truck: "\f15d";
    $font-Flaticon-umbrella: "\f15e";
    $font-Flaticon-upload: "\f15f";
    $font-Flaticon-vdeo-camera: "\f160";
    $font-Flaticon-wallet: "\f161";
    $font-Flaticon-wrench: "\f162";
    $font-Flaticon-wristwatch: "\f163";